{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    <title> MovBrasil - Erro </title>
{% endblock %}

{% block add_css %}
    <link rel="stylesheet" href="{% static 'css/pages/page_404_error.css' %}">
{% endblock %}

{% block topbar %}
    <!-- Cursos -->
    <li>
        <a href="{% url 'cursos' %}" >
            Cursos
        </a>
    </li>
    <!-- End Cursos -->

    <!-- Quem somos -->
    <li>
        <a href="{% url 'quem_somos' %}">
            Quem somos
        </a>
    </li>
    <!-- End Quem somos -->

    <!-- Loja Virtual -->
    <li>
        <a href="http://movbrasil.shopping.marketup.com/">
            Loja Virtual
        </a>
    </li>
    <!-- End Loja Virtual -->

    <!-- Contato -->
    <li>
        <a href="{% url 'contato' %}">
            Contato
        </a>
    </li>
    <!-- End Contato -->
{% endblock %}

{% block content %}

    <!--=== Content Part ===-->
    <div class="container content" style=" padding-top: 80px; padding-bottom: 80px;">
        <!--Error Block-->
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="error-v1">
                    <span class="error-v1-title">404</span>
                    <span>Página não encontrada!</span>
                    <p>A URL requisitada não existe em nossos servidores. Isso é tudo que sabemos.</p>
                    <a class="btn-u btn-bordered" href="{% url 'home' %}">Voltar à página inicial</a>
                </div>
            </div>
        </div>
        <!--End Error Block-->
    </div>
    <!--=== End Content Part ===-->

{% endblock %}