{% load staticfiles %}

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="pt"> <!--<![endif]-->
<head>
    {% block title %}{% endblock %}

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'mvB_favicon.ico' %}"/>

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">


    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="{% static 'plugins/line-icons/line-icons.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/flexslider/flexslider.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/parallax-slider/css/parallax-slider.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/revolution-slider/rs-plugin/css/settings.css' %}" type="text/css" media="screen">
    <!--[if lt IE 9]><link rel="stylesheet" href="assets/plugins/revolution-slider/rs-plugin/css/settings-ie8.css' %}" type="text/css" media="screen"><![endif]-->

    <!-- CSS Theme -->
    <link rel="stylesheet" href="{% static 'css/theme-colors/default.css' %}">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    {% block add_css %}{% endblock %}
</head>

<body>
    <div class="wrapper">
        <!--=== Header ===-->
        <div class="header">

            <!-- Topbar -->
            <div class="topbar">
                <div class="container">
                    <!-- Topbar Navigation -->
                </div>
            </div>
            <!-- End Topbar -->

            <!-- Navbar -->
            <div class="navbar navbar-default mega-menu" role="navigation">
                <div class="container">

                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="sr-only">Menu</span>
                        <span class="fa fa-bars"></span>
                    </button>
                        <a class="navbar-brand" href="{% url 'home' %}"}>
                            <img id="logo-header" src="{% static 'img/logo.png' %}" alt="Logo" width="200px">
                        </a>
                    </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse navbar-responsive-collapse">
                            <ul class="nav navbar-nav" style="margin-top:40px">
                                    {% block topbar %}{% endblock %}
                            </ul>
                        </div><!--/navbar-collapse-->
                </div>
            </div>
            <!-- End Navbar -->

        </div>
        <!--=== End Header ===-->

        {% block content %}
        {% endblock %}

        <div class="footer-v1">
            <div class="footer">
                <div class="container">
                    <div class="row">

                        <!-- About -->
                        <div class="col-md-3 md-margin-bottom-40">
                            <a href="index.html"><img id="logo-footer" class="footer-logo" src="{% static 'img/logo_white.png' %}" alt="" style="width:255px;"></a>
                            <p>{{ chamada.chamada }}</p>
                        </div><!--/col-md-3-->
                        <!-- End About -->

                        <!-- Latest -->
                        <div class="col-md-3 md-margin-bottom-40">
                            <div class="posts">
                                <div class="headline"><h2>Próximos cursos</h2></div>
                                <ul class="list-unstyled latest-list">
                                    {% for curso in proximos_cursos %}
                                    <li>
                                        <a href="{% url  'curso_item' curso.slug %}">{{ curso.titulo }}</a>
                                        {% if curso.data_final == curso.data_inicial %}
                                            <small>{{curso.data_inicial }}</small>
                                        {% else %}
                                            <small>{{curso.data_inicial | date:"d M"}} - {{ curso.data_final|date:"d M Y" }}</small>
                                        {% endif %}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div><!--/col-md-3-->
                        <!-- End Latest -->

                        <!-- Link List -->
                        <div class="col-md-3 md-margin-bottom-40">
                            <div class="headline"><h2>Links Úteis</h2></div>
                            <ul class="list-unstyled link-list">
                                <li><a href="{% url 'home' %}">Página Inicial</a><i class="fa fa-angle-right"></i></li>
                                <li><a href="{% url 'cursos' %}">Cursos</a><i class="fa fa-angle-right"></i></li>
                                <li><a href="{% url 'quem_somos' %}">Quem somos</a><i class="fa fa-angle-right"></i></li>
                                <li><a href="http://movbrasil.shopping.marketup.com/">Loja Virtual</a><i class="fa fa-angle-right"></i></li>
                                <li><a href="{% url 'contato' %}">Contato</a><i class="fa fa-angle-right"></i></li>
                                <li><a href="https://movbrasil.wordpress.com/">Blog</a><i class="fa fa-angle-right"></i></li>
                            </ul>
                        </div><!--/col-md-3-->
                        <!-- End Link List -->

                        <!-- Address -->
                        <div class="col-md-3 map-img md-margin-bottom-40">
                            <div class="headline"><h2>Dados para contato</h2></div>
                            <ul class="list-unstyled qms_fa margin-bottom-30">
                                {% for email in emails %}
                                    <li><a href="{% url 'contato' %}" style="text-decoration:none; color:white;">{{email}}</a></li>
                                {% endfor %}
                            </ul>
                        </div><!--/col-md-3-->
                        <!-- End Address -->

                    </div>
                </div>
            </div><!--/footer-->

            <div class="copyright">
                <div class="container">
                    <div class="row" style="position: relative;">

                        <div class="col-md-6" style=" position: absolute; bottom: 0;">
                            <p>
                                 {% now "Y" %} (c) Todos os direitos reservados.
                            </p>
                        </div>

                        <!-- Social Links -->
                        <div style="float: right;">
                            <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fmovbrasil&amp;width&amp;layout=standard&amp;action=like&amp;colorscheme=dark&amp;show_faces=true&amp;share=false&amp;height=80&amp;appId=612929132112832" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:80px;" allowTransparency="true"></iframe>
                        </div>
                        <!-- End Social Links -->

                    </div>
                </div>
            </div><!--/copyright-->

        </div>
        <!--=== End Footer ===-->
    </div><!--/wrapper-->

    {% block js %}{% endblock %}

</body>

</html>
