{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    <title> MovBrasil</title>
{% endblock %}

{% block add_css %}
    <link rel="stylesheet" href="{% static 'css/pages/page_404_error.css' %}">
{% endblock %}

{% block topbar %}
    <!-- Cursos -->
    <li>
        <a href="{% url 'cursos' %}" >
            Cursos
        </a>
    </li>
    <!-- End Cursos -->

    <!-- Quem somos -->
    <li>
        <a href="{% url 'quem_somos' %}">
            Quem somos
        </a>
    </li>
    <!-- End Quem somos -->

    <!-- Loja Virtual -->
    <li>
        <a href="http://movbrasil.shopping.marketup.com/">
            Loja Virtual
        </a>
    </li>
    <!-- End Loja Virtual -->

    <!-- Contato -->
    <li>
        <a href="{% url 'contato' %}">
            Contato
        </a>
    </li>
    <!-- End Contato -->

    <!-- Blog -->
    <li>
        <a href="https://movbrasil.wordpress.com/">
            Blog
        </a>
    </li>
    <!-- End Blog -->
{% endblock %}

{% block content %}

 <!--=== Content Part ===-->
    <div class="container content" style=" padding-top: 80px; padding-bottom: 80px;">
        <!--Msg Block-->
        <div class="row" style="margin-top: 50px; margin-bottom: 50px;">
            <div class="col-md-8 col-md-offset-2">
                <div id="msg_enviada">
                    <i class="fa fa-paper-plane-o fa-5x"></i>
                    <span>Mensagem enviada!</span>
                    <p>
                        Sua mensagem foi enviada com cópia para o e-mail informado.
                        <br>
                        Entraremos em contato em breve.
                    </p>
                    <a class="btn-u btn-bordered" href="{% url 'home' %}">Voltar à página inicial</a>
                </div>
            </div>
        </div>
        <!--End Msg Block-->
    </div>
    <!--=== End Content Part ===-->

{% endblock %}