{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    <title> MovBrasil - Cursos </title>
{% endblock %}

{% block topbar %}
<!-- Quem somos -->
<li>
    <a href="{% url 'quem_somos' %}">
        Quem somos
    </a>
</li>
<!-- End Home -->

<!-- Cursos -->
<li class="dropdown active">
    <a href="{% url 'cursos' %}" >
        Cursos
    </a>
</li>
<!-- End Cursos -->

<!-- Loja Virtual -->
<li>
    <a href="javascript:void(0);">
        Loja Virtual
    </a>
</li>
<!-- End Loja Virtual -->

<!-- Contato -->
<li>
    <a href="{% url 'contato' %}">
        Contato
    </a>
</li>
<!-- Ens Contato -->
{% endblock %}


{% block content%}
<!--=== Content Part ===-->
    <div class="container content">
        <div class="row blog-page">
            <!-- Left Sidebar -->
            <div class="col-md-14 md-margin-bottom-40">
                <!--Blog Post-->
                {% for curso in cursos %}
                <div class="row blog blog-medium margin-bottom-40">
                    <div class="col-md-5">
                        <img class="img-responsive" src="../{{curso.img.url}}" alt="">
                    </div>
                    <div class="col-md-7">
                        <h2><a href="{% url  'curso_item' curso.slug %}">{{ curso.titulo }}</a></h2>
                        <ul class="list-unstyled list-inline blog-info">
                            <li><i class="fa fa-calendar"></i> {{ curso.data }}</li>
                        </ul>
                        <p>{{ curso.resumo }}</p>
                        <p><a class="btn-u btn-u-sm" href="{% url  'curso_item' curso.slug %}">Saiba mais<i class="fa fa-angle-double-right margin-left-5"></i></a></p>
                    </div>
                </div>
                <!--End Blog Post-->

                <hr class="margin-bottom-40">

                {% endfor %}

                <!--Pagination-->
                <div class="text-center">
                    <ul class="pagination">
                        {% if cursos.has_previous %}
                            <li><a href="?page={{ cursos.previous_page_number }}">«</a></li>
                        {% endif %}

                        {% for page_aux in pages_number_aux %}
                            {% if page_aux.number == cursos.number  %}
                                <li class="active"><a href="?page={{ cursos.number }}">{{ cursos.number }}</a></li>
                            {% else %}
                                <li><a href="?page={{ page_aux.number }}">{{ page_aux.number }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if cursos.has_next %}
                            <li><a href="?page={{ cursos.next_page_number }}">»</a></li>
                        {% endif %}
                    </ul>
                </div>
                <!--End Pagination-->
            </div>
            <!-- End Left Sidebar -->
        </div><!--/row-->
    </div><!--/container-->
    <!--=== End Content Part ===-->
{% endblock %}