{% extends 'base.html' %}
{% load staticfiles %}
{% load text2list %}

{% block title %}
    <title> MovBrasil - Cursos </title>
{% endblock %}

 {% block add_css %}
    <link rel="stylesheet" href="{% static 'css/pages/blog.css' %}">
    <link rel="stylesheet" href="{% static 'css/pages/profile.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/sky-forms/version-2.0.1/css/custom-sky-forms.css' %}">
{% endblock %}

{% block topbar %}
<!-- Cursos -->
<li class="dropdown active">
    <a href="{% url 'cursos' %}" >
        Cursos
    </a>
</li>
<!-- End Cursos -->

<!-- Quem somos -->
<li>
    <a href="{% url 'quem_somos' %}">
        Quem somos
    </a>
</li>
<!-- End Quem Somos -->

<!-- Loja Virtual -->
<li>
    <a href="javascript:void(0);">
        Loja Virtual
    </a>
</li>
<!-- End Loja Virtual -->

<!-- Contato -->
<li>
    <a href="{% url 'contato' %}">
        Contato
    </a>
</li>
<!-- Ens Contato -->
{% endblock %}


{% block content%}
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">{{ curso_item.titulo }}</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="{% url 'home' %}" >Principal</a></li>
                <li><a href="{% url 'cursos' %}" >Cursos</a></li>
                <li class="active">{{ curso_item.titulo }}</li>
            </ul>
        </div><!--/container-->
    </div><!--/end breadcrumbs-->

    <div class="container content">
        <div class="row">
            <div class="row tab-v3">

                <!--=== Início do menu lateral ===-->
                 <!--
                <div class="col-sm-3">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="menu_curso active" id="menu_apresentacao">
                            <a href="javascript:void(0);" data-toggle="tab"><i class="fa fa-desktop"></i> Apresentação</a>
                        </li>
                        <li class="menu_curso" id="menu_palestrante">
                            <a href="javascript:void(0);" data-toggle="tab"><i class="fa fa-graduation-cap"></i>
                                {% if  palestrantes|length > 1 %}
                                    Ministrantes
                                {% else %}
                                    Ministrante
                                {% endif %}
                            </a></li>
                        <li class="menu_curso" id="menu_programacao">
                            <a href="javascript:void(0);" data-toggle="tab"><i class="fa  fa-book"></i>Programação</a>
                        </li>
                        <li class="menu_curso" id="menu_inscricao">
                            <a href="javascript:void(0);" data-toggle="tab"><i class="fa fa-pencil"></i> Inscrição</a>
                        </li>
                    </ul>
                </div> -->
                <!--=== Fim do menu lateral ===-->

                <div class="col-md-12 md-margin-bottom-60 tab-content">
                    <div class="blog margin-bottom-40">

                        <!--===Inicio Apresentacao ===-->
                        <div class="curso_dados" id="curso_apresentacao" >
                            <h2>Apresentação</h2>
                            <div class="blog-post-tags">
                                <ul class="list-unstyled list-inline blog-info">
                                    <li><i class="fa fa-calendar"></i> {{curso_item.data }}</li>
                                    <li><i class="fa fa-map-marker"></i> {{ curso_item.local.cidade }} - {{ curso_item.local.estado }} </li>
                                    <li><i class="fa fa-dot-circle-o"></i> {{curso_item.publico }} </li>
                                </ul>
                            </div>
                            <div class="blog-img">
                                <img class="img-responsive" src="../{{curso_item.img.url}}" alt="">
                            </div>
                            <p>{{ curso_item.descricao }} </p>
                            <div id="material_incluso">
                                <h5><b> Material Incluso </b></h5>
                                <ul class="list-unstyled">
                                    {% for item in materiais %}
                                        <li> <i class="fa fa-check color-green"></i> {{ item.nome}} </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <br>
                        </div>
                        <!--===Fim Apresentacao ===-->

                        <!--===Inicio Programação ===-->
                        <div class="curso_dados" id="curso_programacao" >
                            <h2 style="border-bottom: solid 1px #eee; height: 40px;"> Programação </h2>
                            {% for programa_dia in programacao %}
                                <div class="col-md-14">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3 class="panel-title"><i class="fa fa-calendar"></i> {{ programa_dia.data }}</h3>
                                        </div>
                                        <div class="panel-body">
                                            <ul class="list-unstyled">
                                                {% for prog in programa_dia.atividade|text2list %}
                                                    <li> <i class="fa fa-angle-right color-green"></i> {{prog}} </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <!--===Fim Programação ===-->

                        <!--===Inicio Palestrante ===-->
                        <div class="curso_dados profile" id="curso_palestrante">
                            <h2 style="border-bottom: solid 1px #eee; height: 40px;">
                                {% if  palestrantes|length > 1 %}
                                    Ministrantes
                                {% else %}
                                    Ministrante
                                {% endif %}
                            <hr>
                            </h2>
                            {% for palestrante in palestrantes %}
                                <div class="profile-bio" style="border: solid 1px #eee">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <img class="img-responsive md-margin-bottom-10" src="../{{palestrante.foto.url}}"  alt="">
                                        </div>
                                        <div class="col-md-10">
                                            <h2>{{palestrante.nome}}</h2>
                                            <hr>
                                            <p>{{palestrante.resumo}}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <!--===Fim Palestrante ===-->

                        <!--===Inicio Inscrição ===-->
                        <div class="curso_dados" id="curso_inscricao" >
                            <h2 style="border-bottom: solid 1px #eee; height: 40px;" > Inscrições </h2>
                            <p> Para realizar sua inscrição e pagamento, disponibilizamos duas maneiras. Uma via transferência/depósito bancário, ou então via cartão de crédito pelo PagSeguro. </p>
                            <br>
                            <h5><b> Investimento:</b> {{curso_item.preco}} </h5>
                            <br>

                            <div class="panel-group acc-v1" id="accordion-1">

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-One">
                                                <i class="fa-pencil-square-o"> </i>
                                                Via Formulário
                                            </a>
                                        </h4>
                                    </div>

                                    <div id="form1">
                                        <div id="collapse-One" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <p style="margin-bottom: 30px;">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-9" style="left: 125px;">
                                                     {% if form.errors %}
                                                        <div class="alert alert-danger fade in">
                                                            <strong> Erro! </strong>
                                                            <ul>
                                                                {% for field in form %}
                                                                    {% if field.errors %} <li>{{field.label}} - {{ field.errors|striptags }}</li>{% endif %}
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    {% endif %}

                                                    <form action="" id="sky-form1" method="post">
                                                        {% csrf_token %}
                                                        {% for field in form %}
                                                            <div class="float_curso">
                                                                <label>{{field.label}}</label>
                                                                <div class="row margin-bottom-20">
                                                                    <div class="col-md-7 col-md-offset-0">
                                                                        {{ field }}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {%endfor%}

                                                        <div class="float_curso">
                                                            <label>Dúvidas</label>
                                                            <div class="row margin-bottom-20">
                                                                <div class="col-md-7 col-md-offset-0">
                                                                    <textarea id="id_duvidas" rows='6' name="duvidas" type="text"></textarea>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="float_curso"><button type="submit" class="btn-u" id="enviar_form1" value="Submit">Enviar</button></div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="form2">
                                        <div id="processing" style="display:none">
                                            <div id="collapse-One" class="panel-collapse collapse in">
                                                    <div class="panel-body">
                                                        <div class="row">
                                                            <div class="col-md-12" style="text-align: center; font-size: 18px; ">
                                                                <i class="fa-li fa fa-spinner fa-spin" style="margin-left:240px;"></i>
                                                                <p>
                                                                    Aguarde! Sua mensagem esta sendo enviada...
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title" id="img_hover">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Two">
                                                <img  src="{% static 'img/pagseguro-grey.png' %}" class="inscricao_img" id="img_grey" style="display: block"/>
                                                <img src="{% static 'img/pagseguro-color.png' %}" class="inscricao_img" id="img_color" style="display: none"/>
                                                <div style="padding-left: 24px;"> Via PagSeguro </div>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse-Two" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--===Fim Inscrição ===-->

                        <!--===Inicio Local ===-->
                         <div class="curso_dados" id="curso_local">
                            <h2 style="border-bottom: solid 1px #eee; height: 40px;"> Local </h2>
                             <div class="shadow-wrapper">
                                    <div class="tag-box tag-box-v1 box-shadow shadow-effect-2" style="border-top: solid 1px #eee;">
                                        <p>{{ curso_item.local.nome }}</p>
                                        <p>{{ curso_item.local.endereco }}, {{ curso_item.local.numero }}
                                                {% if curso_item.local.complemento %}
                                                    , {{ curso_item.local.complemento }}
                                                {% endif %}
                                        </p>
                                        <p>{{ curso_item.local.bairro }}</p>
                                        <p>{{ curso_item.local.cidade }} - {{ curso_item.local.estado }}</p>
                                    </div>
                                </div>
                            </div>
                        <!--===Fim Local ===-->

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/jquery/jquery-migrate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- JS Implementing Plugins -->
    <script type="text/javascript" src="{% static 'plugins/back-to-top.js' %}"></script>

    <!-- JS Customization -->
    <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>

    <!-- JS Page Level -->
    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>

    <!-- Validation Form -->
    <script src="{% static 'plugins/sky-forms/version-2.0.1/js/jquery.validate.min.js' %}"></script>


    <script type="text/javascript">
        jQuery(document).ready(function() {
            App.init();
            Validation.initValidation();

            {% if form.errors %}
                {% for field in form %}
                    {% if field.errors %}
                         var field_id = "#{{field.auto_id}}"
                        $(field_id).css("background", "#fff0f0");
                    {% endif %}
               {% endfor %}
            {% endif %}

        });

        $(document).ready(function(){

            if($(".alert-danger").length > 0){
                $(".menu_curso").removeClass("active")
                $("#curso_apresentacao").hide();
                $("#menu_inscricao").addClass("active");
                $("#curso_inscricao").show();
            };

          $(".menu_curso").click(function(){
                $(".menu_curso").removeClass("active");
                $(".curso_dados").hide();

                $(this).addClass("active");

                switch ( this.id ) {
                    case "menu_apresentacao":
                        $("#curso_apresentacao").show();
                        break;
                    case "menu_programacao":
                        $("#curso_programacao").show();
                        break;
                    case "menu_palestrante":
                        $("#curso_palestrante").show();
                        break;
                    case "menu_inscricao":
                        $("#curso_inscricao").show();
                        break;
                    default:
                        $("#menu_apresentacao").addClass("active");
                        $("#curso_apresentacao").css("display","block");
                }

          });

            $("#img_hover").hover(function(){
                $("#img_grey").css("display","none");
                $("#img_color").css("display","block");
                }, function(){
                    $("#img_grey").css("display","block");
                    $("#img_color").css("display","none");
            });

            $("#enviar_form1").click(function(){
                $("#form1").css("display","none");
                $("#processing").css("display","block");
            });

        });

    </script>
{% endblock %}