{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    <title> MovBrasil - Cursos </title>
{% endblock %}

 {% block add_css %}
    <link rel="stylesheet" href="{% static 'css/pages/profile.css' %}">
{% endblock %}

{% block topbar %}
<!-- Quem somos -->
<li>
    <a href="{% url 'quem_somos' %}">
        Quem somos
    </a>
</li>
<!-- End Home -->

<!-- Cursos -->
<li class="dropdown active">
    <a href="{% url 'cursos' %}" >
        Cursos
    </a>
</li>
<!-- End Cursos -->

<!-- Loja Virtual -->
<li>
    <a href="javascript:void(0);">
        Loja Virtual
    </a>
</li>
<!-- End Loja Virtual -->

<!-- Contato -->
<li>
    <a href="{% url 'contato' %}">
        Contato
    </a>
</li>
<!-- Ens Contato -->
{% endblock %}


{% block content%}
<!--=== Content Part ===-->
    <div class="container content">
        <div class="row">
                <div class="row tab-v3">
                    <div class="col-sm-3">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#home-2" data-toggle="tab"><i class="fa fa-desktop"></i> Apresentação</a></li>
                            <li  class="active"><a href="#profile-2" data-toggle="tab"><i class="fa fa-graduation-cap"></i>Palestrante</a></li>
                            <li><a href="#messages-2" data-toggle="tab"><i class="fa fa-pencil"></i> Inscrição</a></li>
                        </ul>
                    </div>

            <div class="col-md-9 md-margin-bottom-60 tab-content">
                <div class="blog margin-bottom-40 profile">
                    <!--Profile Body-->
                        <div class="profile-bio">
                            <div class="row">
                                <div class="col-md-5">
                                    <img class="img-responsive md-margin-bottom-10" src="{% static 'img/team/5.jpg' %}" alt="">
                                </div>
                                <div class="col-md-7">
                                    <h2>Edward Rooster</h2>
                                    <span><strong>Job:</strong> Web Developer</span>
                                    <span><strong>Position:</strong> Web Designer</span>
                                    <hr>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget massa nec turpis congue bibendum. Integer nulla felis, porta suscipit nulla et, dignissim commodo nunc. Morbi a semper nulla.</p>
                                    <p>Proin mauris odio, pharetra quis ligula non, vulputate vehicula quam. Nunc in libero vitae nunc ultricies tincidunt ut sed leo. Sed luctus dui ut congue consequat. Cras consequat nisl ante, nec malesuada velit pellentesque ac. Pellentesque nec arcu in ipsum iaculis convallis.</p>
                                </div>
                            </div>
                        </div><!--/end row-->

                         <!--Profile Body-->
                        <div class="profile-bio">
                            <div class="row">
                                <div class="col-md-5">
                                    <img class="img-responsive md-margin-bottom-10" src="{% static 'img/team/5.jpg' %}" alt="">
                                </div>
                                <div class="col-md-7">
                                    <h2>Edward Rooster</h2>
                                    <span><strong>Job:</strong> Web Developer</span>
                                    <span><strong>Position:</strong> Web Designer</span>
                                    <hr>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget massa nec turpis congue bibendum. Integer nulla felis, porta suscipit nulla et, dignissim commodo nunc. Morbi a semper nulla.</p>
                                    <p>Proin mauris odio, pharetra quis ligula non, vulputate vehicula quam. Nunc in libero vitae nunc ultricies tincidunt ut sed leo. Sed luctus dui ut congue consequat. Cras consequat nisl ante, nec malesuada velit pellentesque ac. Pellentesque nec arcu in ipsum iaculis convallis.</p>
                                </div>
                            </div>
                        </div><!--/end row-->

                         <!--Profile Body-->
                        <div class="profile-bio">
                            <div class="row">
                                <div class="col-md-5">
                                    <img class="img-responsive md-margin-bottom-10" src="{% static 'img/team/5.jpg' %}" alt="">
                                </div>
                                <div class="col-md-7">
                                    <h2>Edward Rooster</h2>
                                    <span><strong>Job:</strong> Web Developer</span>
                                    <span><strong>Position:</strong> Web Designer</span>
                                    <hr>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget massa nec turpis congue bibendum. Integer nulla felis, porta suscipit nulla et, dignissim commodo nunc. Morbi a semper nulla.</p>
                                    <p>Proin mauris odio, pharetra quis ligula non, vulputate vehicula quam. Nunc in libero vitae nunc ultricies tincidunt ut sed leo. Sed luctus dui ut congue consequat. Cras consequat nisl ante, nec malesuada velit pellentesque ac. Pellentesque nec arcu in ipsum iaculis convallis.</p>
                                </div>
                            </div>
                        </div><!--/end row-->
                </div>
            </div>
            <!-- End Left Sidebar -->
            <!-- End Right Sidebar -->
        </div><!--/row-->
    </div><!--/container-->
    </div>
    <!--=== End Content Part ===-->
{% endblock %}