{% extends 'base.html' %}
{% load staticfiles %}
{% load text2list %}

{% block title %}
    <title> MovBrasil - Cursos </title>
{% endblock %}

 {% block add_css %}
    <link rel="stylesheet" href="{% static 'plugins/cube-portfolio/cubeportfolio/css/cubeportfolio.css' %}">
{% endblock %}

{% block topbar %}
<!-- Cursos -->
<li class="dropdown active">
    <a href="{% url 'cursos' %}" >
        Cursos
    </a>
</li>
<!-- End Cursos -->

<!-- Quem somos -->
<li>
    <a href="{% url 'quem_somos' %}">
        Quem somos
    </a>
</li>
<!-- End Quem somos -->

<!-- Loja Virtual -->
<li>
    <a href="javascript:void(0);">
        Loja Virtual
    </a>
</li>
<!-- End Loja Virtual -->

<!-- Contato -->
<li>
    <a href="{% url 'contato' %}">
        Contato
    </a>
</li>
<!-- Ens Contato -->
{% endblock %}


{% block content%}
<!--=== Content Part ===-->

    <div class="container">
        <div class="content">
            <div class="fusion-portfolio wrapper-portfolio cbp-3-col cbp-caption-3-col">
                <div id="filters-container" class="cbp-l-filters-alignCenter">
                <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">Todos</div>
                    {% for tema in temas %}
                    <div data-filter=".{{tema|slugfy}}" class="cbp-filter-item cbp-filter-item {{tema|slugfy}}">{{tema}}</div>
                    {% endfor %}
                </div>

                <div id="grid-container" class="cbp-l-grid-blog">
                    <ul>

                        {% for curso in cursos %}
                        <li class="cbp-item {{curso.tema|slugfy}}" style="height:350px !important;">
                        <div class="thumbnails thumbnail-style thumbnail-kenburn">
                        <div class="thumbnail-img">
                        <a  href="{% url  'curso_item' curso.slug %}">
                            <div class="overflow-hidden">
                                <img class="img-responsive" src="../{{curso.img.url}}"  alt="">
                            </div>
                            </a>
                        </div>
                        <div class="product-description">
                            <h3><a class="hover-effect" href="{% url  'curso_item' curso.slug %}">{{ curso.titulo }}</a></h3>
                            <span>{{ curso.local.cidade }} - {{ curso.local.estado }}</span>
                        </div>
                    </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div><!--/End Wrapper Portfolio-->
</div>
</div>

                <!--Pagination-->
                <div class="text-center">
                    <ul class="pagination">
                        {% if cursos.has_previous %}
                            <li><a href="?page={{ cursos.previous_page_number }}">«</a></li>
                        {% endif %}

                        {% for page_aux in pages_number_aux %}
                            {% if page_aux.number == cursos.number  %}
                                <li class="active"><a href="?page={{ cursos.number }}">{{ cursos.number }}</a></li>
                            {% else %}
                                <li><a href="?page={{ page_aux.number }}">{{ page_aux.number }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if cursos.has_next %}
                            <li><a href="?page={{ cursos.next_page_number }}">»</a></li>
                        {% endif %}
                    </ul>
                </div>
                <!--End Pagination-->
            </div>
            <!-- End Left Sidebar -->
        </div><!--/row-->
    </div><!--/container-->
    <!--=== End Content Part ===-->
{% endblock %}
{% block js %}
<script type="text/javascript" src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/jquery/jquery-migrate.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="{% static 'plugins/back-to-top.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/cube-portfolio/cubeportfolio/js/jquery.cubeportfolio.min.js' %}"></script>
<!-- JS Customization -->
<script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
<!-- JS Page Level -->
<script type="text/javascript" src="{% static 'js/app.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/cube-portfolio.js' %}"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
    });
</script>
{% endblock %}