{% extends 'base.html' %}

{% block title %}
    <title> MovBrasil </title>
{% endblock %}

{% block topbar %}
<!-- Quem somos -->
<li>
    <a href="{% url 'quem_somos' %}">
        Quem somos
    </a>
</li>
<!-- End Home -->

<!-- Cursos -->
<li>
    <a href="{% url 'cursos' %}">
        Cursos
    </a>
</li>
<!-- End Cursos -->

<!-- Loja Virtual -->
<li>
    <a href="javascript:void(0);">
        Loja Virtual
    </a>
</li>
<!-- End Loja Virtual -->

<!-- Contato -->
<li>
    <a href="{% url 'contato' %}">
        Contato
    </a>
</li>
<!-- Ens Contato -->
{% endblock %}

{% block content%} {% endblock %}
