{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    <title> MovBrasil - Quem somos </title>
{% endblock %}

{% block topbar %}
<!-- Quem somos -->
<li class="dropdown active">
    <a href="{% url 'quem_somos' %}">
        Quem somos
    </a>
</li>
<!-- End Home -->

<!-- Cursos -->
<li>
    <a href="{% url 'cursos' %}" >
        Cursos
    </a>
</li>
<!-- End Cursos -->

<!-- Loja Virtual -->
<li>
    <a href="javascript:void(0);">
        Loja Virtual
    </a>
</li>
<!-- End Loja Virtual -->

<!-- Contato -->
<li>
    <a href="{% url 'contato' %}">
        Contato
    </a>
</li>
<!-- Ens Contato -->
{% endblock %}

{% block content %}
<div class='container'>
<!--=== Content Part ===-->
    <div class="container content">
        <div class="title-box-v2">
            <h2>Sobre a<span class="color-green" style="text-transform: none"> MovBrasil</span></h2>
            <p>{{ descricao}}</p>
        </div>

        <!-- About Sldier -->
        <div class="shadow-wrapper margin-bottom-50">
            <div class="carousel slide carousel-v1 box-shadow shadow-effect-2" id="myCarousel">
                <ol class="carousel-indicators">
                    <li class="rounded-x active" data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li class="rounded-x" data-target="#myCarousel" data-slide-to="1"></li>
                    <li class="rounded-x" data-target="#myCarousel" data-slide-to="2"></li>
                </ol>

                <div class="carousel-inner">
                    <div class="item active">
                        <img class="img-responsive" src="{% static 'img/quem_somos/qms1.jpg' %}" alt="">
                    </div>
                    <div class="item">
                        <img class="img-responsive" src="{% static 'img/quem_somos/qms2.jpg' %}" alt="">
                    </div>
                    <div class="item">
                        <img class="img-responsive" src="{% static 'img/quem_somos/qms3.jpg' %}" alt="">
                    </div>
                </div>

                <div class="carousel-arrow">
                    <a data-slide="prev" href="#myCarousel" class="left carousel-control">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a data-slide="next" href="#myCarousel" class="right carousel-control">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
        </div>
        </div>
        <!-- End About Sldier -->


<!-- Nossa Equipe -->
 <div class="headline"><h2>Nossa Equipe</h2></div>
        <div class="row team margin-bottom-20">

           {% for pessoa in time_mvb %}
                <div class="col-sm-4">
                    <div class="thumbnail-style">
                        {% if pessoa.foto %}
                            <img alt="" src="../{{pessoa.foto.url}}" class="img-responsive"/>
                        {% endif %}
                        <h3><a>{{ pessoa.nome }}</a></h3>
                        <p> {{ pessoa.resumo }}</p>
                        <ul class="list-unstyled qms_fa">
                            <li>
                                <i class="fa fa-envelope"></i>
                                {{ pessoa.e_mail }}
                            </li>
                            <li>
                                <i class="fa fa-phone"></i>
                                {{ pessoa.tel }}
                            </li>
                        </ul>
                        <ul class="list-unstyled list-inline team-socail">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
        </div>
{% endblock %}

{% block js %}
<!-- JS Global Compulsory -->
<script type="text/javascript" src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/jquery/jquery-migrate.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="{% static 'plugins/back-to-top.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/flexslider/jquery.flexslider-min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/parallax-slider/js/modernizr.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/parallax-slider/js/jquery.cslider.js' %}"></script>
<!-- JS Customization -->
<script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
<!-- JS Page Level -->
<script type="text/javascript" src="{% static 'js/app.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/parallax-slider.js' %}"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        App.initSliders();
        ParallaxSlider.initParallaxSlider();
    });
</script>
<!--[if lt IE 9]>
    <script src="{% static 'plugins/respond.js' %}"></script>
    <script src="{% static 'plugins/html5shiv.js' %}"></script>
    <script src="{% static 'js/plugins/placeholder-IE-fixes.js' %}"></script>
<![endif]-->
{% endblock %}