{% extends 'base.html' %}
{% load text2list %}

{% block title %}
    <title> MovBrasil - Contato </title>
{% endblock %}

{% block topbar %}
<!-- Quem somos -->
<li>
    <a href="{% url 'quem_somos' %}">
        Quem somos
    </a>
</li>
<!-- End Home -->

<!-- Cursos -->
<li>
    <a href="{% url 'cursos' %}" >
        Cursos
    </a>
</li>
<!-- End Cursos -->

<!-- Loja Virtual -->
<li>
    <a href="javascript:void(0);">
        Loja Virtual
    </a>
</li>
<!-- End Loja Virtual -->

<!-- Contato -->
<li class="dropdown active">
    <a href="{% url 'contato' %}">
        Contato
    </a>
</li>
<!-- Ens Contato -->
{% endblock %}

{% block content%}
<h2>Contact Form</h2>
      <p>To send us a message fill out the below form.</p>

    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

    <form action="" method="post">
        <table>
            {{ form.as_table }}
        </table>
        {% csrf_token %}
        <input type="submit" value="Submit">
    </form>
{% endblock %}
