/* Add here all your css styles (customizations) */

/*Remove a setinha do dropdown*/
.header .dropdown > a:after, 
.header .dropdown-submenu > a:after {
    content: none;
}

.qms_fa li {
    margin-bottom: 6px;
}

.qms_fa li i {
    color: #72c02c;
    font-size: 13px;
    min-width: 15px;
    margin-right: 8px;
    text-align: center;
    position: relative; 
}
