/* Add here all your css styles (customizations) */

/*Remove a setinha do dropdown*/
.header .dropdown > a:after, 
.header .dropdown-submenu > a:after {
    content: none;
}

.qms_fa li {
    margin-bottom: 6px;
}

.qms_fa li i {
    color: #72c02c;
    font-size: 13px;
    min-width: 15px;
    margin-right: 8px;
    text-align: center;
    position: relative; 
}

h1, h2, h3, h4, h5, h6, p, small, a, span, body {
    font-family: 'FontAwesome', "Open Sans", sans-serif !important;
}

.profile-bio {
    margin-bottom: 20px;
    padding-bottom: 15px !important;
}

.re-text-v1 p {
    color: #fff;
    font-size: 24px;
    text-align: center;
}

.curso_dados h2 {
    color: #72c02c !important;
    font-size: 25px !important;
    padding-top: 20px;
}

#curso_apresentacao h3 {
    color: #72c02c;
    font-size: 24px;
    margin-bottom: 25px;
    margin-top: 25px;
}

#curso_apresentacao h4 {
    color: #72c02c;
    font-size: 20px;
}

#material_incluso {
    margin-top: 30px;
    padding-top: 10px;
    padding-left: 20px;
    border-top: 1px solid #eee;
}

#sky-form1 .state-error input,
#sky-form1 .state-error select,
#sky-form1 .state-error textarea,
#sky-form1 .radio.state-error i,
#sky-form1 .checkbox.state-error i,
#sky-form1 .toggle.state-error i {
    background: #fff0f0;
}

#sky-form1 .state-error select + i {
    background: #fff0f0;
    box-shadow: 0 0 0 12px #fff0f0;
}

#sky-form1 .toggle.state-error input:checked + i {
    background: #fff0f0;
}

#sky-form1 #id_email + em,
#sky-form1 #id_nome + em,
#sky-form1 #id_cpf + em,
#sky-form1 #id_telefone + em,
#sky-form1 #id_endereco + em,
#sky-form1 #id_nro_comp + em,
#sky-form1 #id_bairro + em,
#sky-form1 #id_cidade + em,
#sky-form1 #id_formacao + em {
    display: block;
    width: 230px;
    margin-top: 6px;
    padding: 0 1px;
    font-style: normal;
    font-size: 11px;
    line-height: 15px;
    color: #ee9393;
}

#sky-form1 .rating.state-error + em {
    margin-top: -4px;
    margin-bottom: 4px;
}

.panel-title a:hover {
    text-decoration: none !important; 
}

.inscricao_img {
    vertical-align: bottom;
    width: 30px;
    margin-left: -7px;
    position: absolute;
}

.content_curso {
    width: 100%;
    text-align: center;
}

.float_curso {
    margin-bottom: 6px;
    line-height: 19px;
    float: left;
    margin-right: -10px;
    margin-left: 65px;
}

#id_nome {
    width: 370px;
}

#id_email { 
    width: 370px;
}

#id_endereco{
    width: 370px;
}

#id_bairro {
    width: 370px;
}

#id_duvidas {
    width: 660px;
}

#msg_enviada {
    padding-bottom: 30px;
    text-align: center;
}

#msg_enviada span {
    color: #555;
    display: block;
    font-size: 35px;
    font-weight: 200;
}

#msg_enviada p {
    color: #555;
    font-size: 16px;
}

.fa {
    margin-right: 5px;
}

/* do teste do scroll
.subMenu_curso {
    background: white;
    color: black;
    text-decoration: none;
    padding: 7px 15px;
    cursor: pointer;
    font: 400 13px/21px "Open Sans", sans-serif;
    transition: all .3s ease-in-out;
    position: relative;
    overflow: visible;
    margin: 10px 0 0;
    display: inline-block;
    border: solid 1px #eee;
}

.subMenu_curso:hover {
    background: #72c02c;
    color: white;
    text-decoration: none;
}   
*/

.subMenu a,
.subMenu a:hover {
    text-decoration: none;
}

.subMenu .active{
    background: #72c02c;
border-color: #72c02c;
color: #fff !important;
}

#map-canvas {
  width: 1168px;
  height: 300px;
  background-color: #CCC;
}
