/* Add here all your css styles (customizations) */

/*Remove a setinha do dropdown*/
.header .dropdown > a:after, 
.header .dropdown-submenu > a:after {
    content: none;
}

.qms_fa li {
    margin-bottom: 6px;
}

.qms_fa li i {
    color: #72c02c;
    font-size: 13px;
    min-width: 15px;
    margin-right: 8px;
    text-align: center;
    position: relative; 
}

h1, h2, h3, h4, h5, h6, p, small, a, span, body {
    font-family: 'FontAwesome', "Open Sans", sans-serif !important;
}

.profile-bio {
    margin-bottom: 20px;
    padding-bottom: 15px !important;
}

.re-text-v1 p {
    color: #fff;
    font-size: 24px;
    text-align: center;
}
